<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace里面填写的是接口的全类名-->
<mapper namespace="com.zxb.dao.JobDao">
    <select id="queryById" parameterType="int" resultType="Job">
        select * from jobs where department_id=#{id};
    </select>
</mapper>