<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace里面填写的是接口的全类名-->
<mapper namespace="com.zxb.dao.UserDao">
    <select id="queryByName" parameterType="String" resultType="User">
        select * from users where name = #{name};
    </select>
    <insert id="add" parameterType="User" >
        insert into users(name,password) values(#{name},#{password});
    </insert>
    <select id="queryByNameAndPass" parameterType="User" resultType="User">
        select * from users where name =#{name} and password=#{password};
    </select>
    <select id="queryByPass" parameterType="String" resultType="User">
        select * from users where password = #{password};
    </select>
    <update id="editPass" parameterType="User">
        update users set password  = #{password} where name=#{name};
    </update>
</mapper>